<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.pro.evslopes.maedaprole">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_maedaprole_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_maedaprole_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MãeDaProle">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>